PORT=
NODE_ENV=

SERVER_URL=http://localhost:{PORT}

# Database
MONGODB_URI=
MONGODB_DB=
MONGODB_USER=
MONGODB_PASS=

# JWT
JWT_SECRET=
JWT_EXPIRATION=2h


# PayPal
PAYPAL_CLIENT_ID=

env path: /server/config/config.env
```