VITE_SERVER_URL=http://localhost:8002
VITE_NODE_ENV=
VITE_DEV_TOOLS=true
VITE_CLIENT_URL_DEV=

# server urls
VITE_PRODUCTS_URL=/api/v1/products
VITE_PRODUCT_DETAILS_URL=/api/v1/products
VITE_ORDERS_URL=/api/v1/orders
VITE_BLOG_URL=/api/v1/blog
VITE_USERS_URL=/api/v1/users
VITE_AUTH_URL=/api/v1/auth
VITE_BAG_URL=/api/v1/bag
VITE_TECH_URL=/api/v1/tech
VITE_KICKS_URL=/api/v1/kicks

VITE_CHECKOUT_AUTH_CHECK=/login?redirect=/bag/shipping
VITE_PAYPAL_URL=/api/v1/config/paypal

#client urls
VITE_UI_PRODUCTS_URL=
VITE_UI_USERS_URL=
VITE_UI_ORDERS_URL=
VITE_UI_TALKS_URL=
VITE_UI_TECH_URL=
VITE_UI_KICKS_URL=
VITE_UI_BAG_URL=


# multer file name
VITE_TOLBYTECH_IMG=